<!DOCTYPE>
<html>
        <head>
                 <meta http-equiv="Content-Type" content="text/html; 
            charset=utf-8" />
                <title>Намери местенце за отдих</title>
                <link rel="icon" type="image/jpg" href=""><!--Icon za top -->
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href = "/static/css/bootstrap.min.css" rel = "stylesheet">
                <link href = "/static/css/styles.css" rel = "stylesheet">
				<link rel="stylesheet" type="text/css" href="/static/mystyle.css">
        </head>
        <body>
		
		
		<div id="header">
                <h1 class="heading">Бързи и Удобни срещи</h1>
		</div>
		
		<!--Navigation-->
		<nav classs ="navbar navbar-default"> 
		<div id="navaigation">
			<div class="navbar">
				<div class = "container">
					<a id="nav_button" href="homepage.html" class = "navbar-brand ">БУС</a>
					<button class="navbar-toggle" data-toggle= "collapse" data-target=".navHeaderCollapse" style="border-wwidth: 2px; border-style: solid; border-color: rgb(51,51,51)">
						<span class="icon-bar"></span>
					<span class="icon-bar" style="color:black"></span>					<span class="icon-bar"></span> 
					</button>
					
					
					<div class = "collapse navbar-collapse navHeaderCollapse">
					
						<ul class = "nav navbar-nav navbar-right">
						
							<li class="active"><a id="nav_button" href="homepage.html">Начална Странца</a><li>
							<li><a href="" id="nav_button">Форум</a></li><!--Vryzka s forumcheto ako ima takoa ako ne zdrave da e -->
							<li>
								<a href="#" class="dropdown" id="nav_button" data-toggle="dropdown">Къде да се срещнем?<b class = "caret"></b></a>
								<ul class = "dropdown-menu">
									<li><a id="nav_button_toggle" href="cafe.html">Кафенета</a></li><!--link kym kafenceto -->
									<li><a  href="">Паркове</a></li><!--Parks linkove -->
                                    <li><a  href="">Друго местенце</a></li>
								</ul>
							</li>{% if user.is_authenticated %}
									<li><a href="homepage.html">Hello {{ user }}</a>	
							{% else %}
									<li><a href="#Login" data-toggle="modal" id="nav_button">Вход</a></li>
  					                          	<li><a href="#Register" data-toggle="modal" id="nav_button">Регистрация</a></li>
							{% endif %} 

						</ul>
						
					</div>
				</div>
			</div>
		</div>
		<nav>
		<!--Content-->
            

		{% if user.is_authenticated %}
		
		<div id="content">
			<div class="container">
				<div class = "jumbotron">
					<h1>Да се видим в кафе?</h1>
					<div></div><!--  za GMaps -->
					<!--<p></p> -->
					<a href="#Create" data-toggle="modal" class="btn btn-info">Create room</a>
					<a href="#Join" data-toggle="modal" class="btn btn-info">Join room</a>
				</div>
			</div>
		</div>
		
		{% else %}
		
		
		<div id="content">
			<div class="container">
				<div class = "jumbotron">
					<h1><span style="color: #337AB7;">Error 404:Profile not found</span></h>
					<p>Преди да станеш играч трябва да си въведеш акаунта!</p>
					<p>За да си влезнеш в безплатения акаунт моля натисни бутона отдолу!</p>
					<a href="/login" data-toggle="modal" class="btn btn-info">Регистрирай се!</a>
					<div></div><!--  za GMaps -->
				</div>
			</div>
		</div>
		
		{% endif %}

		<!--FOOTER-->
		<div id="footer">
			<div class = "navbar navbar-default navbar-fixed-bottom">
				<div class = "container">
					<p class ="navbar-text">Сайта е направен от Heros and Zeros.</p>
					<a class="navbar-button btn-danger btn pull-right" href="#terms" data-toggle="modal">Terms and Conditions</a>
				</div>
			</div>
		</div>


	<!-- JOIN -->
 		<div class = "modal fade" id ="Join" role = "dialog">
			<div class="modal-dialog">
				<div class="modal-content">
                    <form class="form-horizontal">
			<div class="modal-header">
                           <h3>Join Current room:</h3>
                        </div>
                        <div class="modal-body">
                            <div class= "form-group">
                                
                                <div class="col-lg-10">
                                    <p> {{meetings.objects.all}} </p>
                                </div>
                            </div>
  
                            
                        </div>
			<div class="modal-footer">
                           <a class="btn btn-default" data-dismiss = "modal">Cancel</a>
                           <button class="btn btn-primary" type="submit">Submit</button>
			</div>
                    </form>
			</div>
		</div>
		</div>
        <!-- Login -->
		<div class = "modal fade" id ="Login" role = "dialog">
			<div class="modal-dialog">
				<div class="modal-content">
                    <form class="form-horizontal">
					   <div class="modal-header">
                           <h3>Вход:</h3>
                        </div>
                        <div class="modal-body">
                            <div class= "form-group">
                                <label for = "name" class="col-lg-2 control-label">Email:</label>
                                
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="name" placeholder="Your name">
                                </div>
                            </div>
                            <div class= "form-group">
                                <label for = "email" class="col-lg-2 control-label">Password:</label>
                                
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="email" placeholder="Your email">
                                </div>
                            </div>
                            
                        </div>
					   <div class="modal-footer">
                           <a class="btn btn-default" data-dismiss = "modal">Cancel</a>
                           <button class="btn btn-primary" type="submit">Log in</button>
					   </div>
                    </form>
				</div>
			</div>
		</div>
      <!--||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| -->      
		
		<!-- Register -->
		<div class = "modal fade" id ="Register" role = "dialog">
			<div class="modal-dialog">
				<div class="modal-content">
                    <form class="form-horizontal">
					   <div class="modal-header">
                           <h3>Регистрация:</h3>
                        </div>
                        <div class="modal-body">
                            <div class= "form-group">
                                <label for = "name" class="col-lg-2 control-label">Name:</label>
                            </div>     
                        </div>
					   <div class="modal-footer">
                           <a class="btn btn-default" data-dismiss = "modal">Cancel</a>
                           <button class="btn btn-primary" type="submit">Join</button>
					   </div>
                    </form>
				</div>
			</div>
		</div>

		
		
        <!--TERMS-->
		<div class = "modal fade" id ="terms" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3></h3><!--davame terms -->
					</div>
					<div class="modal-boddy">
					<p></p><!--davame samite terms -->
					</div>
					<div class="modal-footer">
					<a class="btn btn-default" data-dismiss = "modal">Close</a>
					</div>
				</div>
			</div>
		</div>
		<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src = "js/bootstrap.js"></script>   
        </body>
</html>
